body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at top, #1f1c2c, #928dab);
  color: rgb(222, 207, 207);
}


.screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;     
  text-align: center;
}

.hidden {
  display: none;
}

/* Panel (setup box) */

.panel {
  width: 320px;
}

/* Counter */

.selector {
  margin-bottom: 25px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.counter button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  background: rgba(255,255,255,0.2);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.counter button:hover {
  background: rgba(255,255,255,0.4);
}

.counter span {
  font-size: 24px;
  width: 30px;
}

/* BTN */

.start, .restart {
  margin-top: 20px;
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#restartBtn {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.start {
  background: #00f2fe;
  color: black;
}

.restart {
  background: crimson;
  color: white;
}

.start:hover,
.restart:hover {
  transform: scale(1.05);
}

/* Kartica */

.game-screen {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(0px);
  background: rgba(0,0,0,0);
  transition: 0.4s ease;
  pointer-events: none;
}

.overlay.active {
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.4);
}



#turnText {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  letter-spacing: 1px;
  transition: opacity 0.3s ease;
}



.card-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1500px;
}



.card {
  width: 280px;
  height: 190px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: rotateX(6deg) rotateY(-6deg);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  font-size: 22px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0,0,0,0.4);
  transition: box-shadow 0.3s ease;
}

.card-front {
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.card-back {
  transform: rotateY(180deg);
  background: linear-gradient(135deg, #00c6ff, #0072ff);
}



#restartBtn {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}
